RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Quita la extension .php
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Bloquea acceso directo con .php en la URL
RewriteCond %{THE_REQUEST} \s/.*\.php [NC]
RewriteRule ^ - [R=404,L]